<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello world</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div>
    <div id="root2"></div>
    <div id="root3"></div>
    <div id="root4"></div>
</body>
<script>
    Vue.createApp({
        data(){
            return {
                content:'hello world'
            }
        },
        methods:{
            handleBtnClick(){
                this.content=this.content.split('').reverse().join('');
            }
        },
        // mounted(){
        //     setInterval(()=>{
        //         this.content+=1;
        //     },1000)
        // },
        template:`
            <div>{{content}}
            <button v-on:click="handleBtnClick">反转</button>
            </div>
            `
    }).mount('#root');

    Vue.createApp({
        data(){
            return {
                show:true
            }
        },
        methods:{
            handleBtnClick(){
                this.show=!this.show;
            }
        },
        // mounted(){
        //     setInterval(()=>{
        //         this.content+=1;
        //     },1000)
        // },
        template:`
            <div>
            <span v-if="show">hello world</span>
            <button v-on:click="handleBtnClick">显示/隐藏</button>
            </div>
            `
    }).mount('#root2');

    Vue.createApp({
        data(){
            return {
                list:['hello','world','dell','lee']
            }
        },
        template:`
        <ul>
            <li v-for="item of list">{{item}}</li>
        </ul>
            `
    }).mount('#root3');
    Vue.createApp({
        data(){
            return{
                list:[],
                inputValue:''
            }
        },
        methods:{
            handleAddItem(){
                console.log(this.inputValue)
                this.list.push(this.inputValue);
                this.inputValue=''
            }
        },
        template:`
        <div>
            <input v-model="inputValue" />
            <button v-on:click="handleAddItem">增加</button>
            <ul>
                <li v-for="(item,index) of list">{{item}}{{index}}</li>
            </ul>
        </div>
        `
    }).mount('#root4')
</script>
</html>