<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue列表循环</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="root"></div> 
</body>
<script>
    const app=Vue.createApp({
        data(){
            return {
                listArray:['dell','lee','teacher'],
                listObject:{
                    firstName:'dell',
                    lastName:'lee',
                    job:'teacher'
                }
            }
        },
        methods:{
            handleAddBtnClick(){
                //1.使用数组的变更函数push ,pop,shift,unshift,splice,sort,reverse
                // this.listArray.push('hello')  //添加
                // this.listArray.pop('hello') //从下面删除
                // this.listArray.shift('hello')  //从上面删除
                // this.listArray.unshift('hello') //从上面添加
                // this.listArray.splice('hello')  //都删除
                // this.listArray.sort('hello') //排序
                // this.listArray.reverse('hello')

                //2.直接替换数组
                this.listArray=['bye','world']
            }
        },
        template:`
        <div>
            <template v-for="(value,key,index) in listObject"  :key="index">
                <div v-if="key !=='lastName'">
                    {{value}}--{{key}}
                 </div>
           </template>
            <div v-for="item in 10">{{item}}</div>
            <button @click="handleAddBtnClick">新增</button>
        </div>
        `
    })
    const vm=app.mount('#root')
</script>
</html>